* {
  box-sizing: border-box;
}

header {
  height: 85px;
}

.header__logo {
  text-align: center;
}
.header__logo img {
  width: 50%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  z-index: 1;
  width: 100%;
  flex-direction: column;
  background-color: #535353;
}
@media all and (min-width: 992px) {
  footer {
    padding-left: 10%;
  }
}
footer h1 {
  margin-left: 40px;
  margin-top: 20px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul i {
  font-size: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  font-family: "Roboto", sans-serif;
}

.location {
  font-weight: 400;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 300;
}

footer a, footer h1 {
  color: white;
}

footer h1 {
  font-size: 18px;
}

@keyframes menu-apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  32% {
    transform: scaleX(0.4);
    opacity: 0.5;
  }
  54% {
    transform: scaleX(0.6);
  }
  73% {
    transform: scaleX(0.8);
    opacity: 0.8;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes text-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}
@keyframes main-apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-disparition {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
#dish-1 {
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
}

#dish-2 {
  animation-fill-mode: backwards;
  animation-delay: 0.4s;
}

#dish-3 {
  animation-fill-mode: backwards;
  animation-delay: 0.6s;
}

#dish-4 {
  animation-fill-mode: backwards;
  animation-delay: 0.8s;
}

#dish-5 {
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

#dish-6 {
  animation-fill-mode: backwards;
  animation-delay: 1.2s;
}

#dish-7 {
  animation-fill-mode: backwards;
  animation-delay: 1.4s;
}

#dish-8 {
  animation-fill-mode: backwards;
  animation-delay: 1.6s;
}

#dish-9 {
  animation-fill-mode: backwards;
  animation-delay: 1.8s;
}

#dish-10 {
  animation-fill-mode: backwards;
  animation-delay: 2s;
}

.header__logo {
  position: relative;
}
.header__logo__arrow {
  position: absolute;
  font-size: 20px;
  left: 5%;
  top: 40%;
}

.image-bg {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.image-bg img {
  width: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
  border-radius: 30px;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: visible;
  padding: 20px;
  padding-bottom: 100px;
}
@media all and (min-width: 992px) {
  .menu {
    width: 90%;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 50px;
    padding-top: 50px;
    box-shadow: 1px 4px 10px #dddddd;
  }
}
.menu__title {
  display: flex;
  width: 100%;
  font-size: 13px;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}
@media all and (min-width: 992px) {
  .menu__title {
    width: 90%;
  }
}
.menu__title__heart {
  font-size: 30px;
  margin-left: 10px;
}
.menu__type__title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
}
@media all and (min-width: 992px) {
  .menu__type__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .menu__type__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu__types {
  width: 100%;
}
@media all and (min-width: 992px) {
  .menu__types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.menu__type {
  width: 100%;
  margin-bottom: 30px;
}
@media all and (min-width: 992px) {
  .menu__type {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .menu__type {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.dish {
  background-color: white;
  margin-bottom: 15px;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  opacity: 1;
  animation: menu-apparition 1s;
  box-shadow: 1px 4px 10px #dddddd;
}
@media all and (min-width: 992px) {
  .dish {
    width: 90%;
    margin-bottom: 20px;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .dish {
    width: 70%;
  }
}
.dish__infos {
  display: flex;
  padding: 0 3% 0 3%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  transition: width 0.5s;
}
.dish__infos__text {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
.dish__infos__text__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 3px;
}
.dish__infos__text__description {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish__infos__price {
  font-weight: bold;
  width: 20%;
  margin-left: 10%;
  text-align: right;
}
.dish__checked {
  height: 110%;
  width: 0%;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
  background-color: #99E2D0;
  overflow: hidden;
  transform: translate(100%);
  transition: transform 0.5s, width 0.5s;
}
.dish__checked i {
  border-radius: 100%;
  border: 0px;
  transform: rotate(0deg);
  transition: transform 1s;
  background-color: white;
}
.dish:hover > .dish__checked {
  width: 20%;
  transform: translate(0);
}
.dish:hover > .dish__checked i {
  transform: rotate(4turn);
}
.dish:hover > .dish__infos {
  width: 80%;
}
.dish:hover {
  cursor: pointer;
}

.border {
  width: 40px;
  height: 2px;
  border: solid 2px #99E2D0;
  margin: 6px 0 15px 0;
}
@media all and (min-width: 992px) {
  .border {
    width: 100px;
    margin-bottom: 40px;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .border {
    width: 100px;
  }
}

.loader {
  position: absolute;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(246, 246, 246);
  animation: loader-disparition 0s 3000ms forwards;
}
.loader__text {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
  color: black;
  opacity: 0;
  animation: text-opacity 2000ms backwards infinite;
}
.loader__progress {
  border: solid 1px #9356DC;
  height: 15px;
  width: 60%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__progress__bar {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 10px;
  transform-origin: left;
  transform: scale(0);
  animation: progress-bar 2000ms 1s;
}

.bloc-page {
  animation: main-apparition 0s 3000ms;
  animation-fill-mode: backwards;
}

.location {
  background-color: #e9e9e9;
  text-align: center;
  border-top: 3px solid #d0d0d0;
  box-shadow: inset 0 3px 3px #dddddd;
  padding: 15px;
}
@media all and (min-width: 992px) {
  .location {
    width: 80%;
    margin: auto;
    border-radius: 10px 10px 0 0;
  }
}
.location i {
  margin-right: 10px;
}

.explore {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
}
@media all and (min-width: 992px) {
  .explore {
    width: 80%;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 1px 4px 10px #dddddd;
  }
}
.explore h2 {
  width: 60%;
  text-align: center;
}
.explore h3 {
  width: 80%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.functionment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 992px) {
  .functionment {
    flex-direction: row;
    width: 80%;
    margin: auto;
  }
}
.functionment__title {
  margin-left: 5%;
  margin-top: 40px;
  margin-bottom: 30px;
}
@media all and (min-width: 992px) {
  .functionment__title {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.functionment__indication {
  width: 80%;
  font-weight: 600;
  position: relative;
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 1px 4px 10px #dddddd;
}
@media all and (min-width: 992px) {
  .functionment__indication {
    width: 30%;
    margin: auto;
    height: 80px;
  }
}
.functionment__indication__number {
  position: absolute;
  background-color: #9356DC;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  top: 30%;
  left: -15px;
  color: white;
}
.functionment__indication i {
  padding-right: 20px;
  padding-left: 10px;
}

#indication__colored {
  background-color: #f2eafb;
}

.restaurants {
  background-color: rgb(246, 246, 246);
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 50px;
}
@media all and (min-width: 992px) {
  .restaurants {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 80px;
    border-radius: 20px;
    box-shadow: 1px 4px 10px #dddddd;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .restaurants {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
.restaurants h2 {
  margin-left: 5%;
  margin-bottom: 20px;
  width: 100%;
}
@media all and (min-width: 992px) {
  .restaurants a {
    width: 40%;
    margin: 5%;
    height: 200px;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .restaurants a {
    width: 40%;
    margin: 5%;
    height: 200px;
  }
}

.rcard {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 1px 4px 10px #dddddd;
}
.rcard__image {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.rcard__image img {
  object-fit: cover;
  width: 100%;
}
.rcard__image__new {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
  background-color: #99E2D0;
  color: #278870;
  padding: 5px 7px 5px 7px;
}
.rcard__body {
  display: flex;
  justify-content: space-between;
}
.rcard__body__infos {
  padding: 10px;
}
.rcard__body__infos__name {
  font-weight: 600;
  padding-bottom: 3px;
  font-size: 14px;
}
.rcard__body__infos__location {
  font-weight: 400;
  font-size: 12px;
}
.rcard__body__heart {
  padding: 15px 20px 0 0;
  position: relative;
  transform: scale(1);
  transition: transform 400ms 100ms;
}
.rcard__body__heart__full {
  position: absolute;
  top: 28.5%;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  transform: scale(0);
  transition: transform 400ms;
}
.rcard__body__heart:hover {
  color: #9356DC;
  transform: scale(1.2);
}
.rcard__body__heart:hover > .rcard__body__heart__full {
  transform: scale(1);
}

.btn {
  color: white;
  width: 220px;
  text-align: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px 10px 15px 10px;
  border-radius: 28px;
  box-shadow: 1px 4px 4px #c3c3c3;
}
.btn:hover {
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
  cursor: pointer;
  box-shadow: 1px 4px 4px #909090;
}

/*# sourceMappingURL=main.css.map */
