* {
    box-sizing: border-box;
}

.header__logo {
    text-align: center;
    img {
        width: 50%;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: $color-footer-bg;
        h1{
            margin-left: 40px;
            margin-top: 20px;
    }
    ul {
        list-style-type: none;
        li {
            margin-bottom: 5px;
        }
        i {
            font-size: 10px;
            padding-right: 10px;
        }
    }
}

a{
    text-decoration: none;
    color: black;
}