@for $i from 1 through $nbrmax__dishes {
    #dish-#{$i} {
        animation-fill-mode: backwards;
        animation-delay: $anim-delay*$i;
    }
}

.header__logo {
    position: relative;
    &__arrow {
        position: absolute;
        font-size: 20px;
        left: 5%;
        top: 40%;
    }
}

.image-bg {
    width: 100%;
    height: $height-image;
    display: flex;
    justify-content: center;
    overflow: hidden;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.menu {
    position: relative;
    top :- 40px;
    margin-bottom: -40px;
    border-radius: 30px;
    background-color: $color-grey;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    overflow: visible;
    padding: 20px;
    padding-bottom: 100px;
    @include desktop {
        width: 90%;
        margin: auto;
        margin-top: 90px;
        margin-bottom : 50px;
        padding-top:50px;
        @include shadow_grey;
    }
    &__title {
        display: flex;
        width: 100%;
        font-size: 13px;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 30px;
        @include desktop {
            width: 90%;
        }
        &__heart {
            font-size: 30px;
            margin-left: 10px;
        }
    }
    &__type__title {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 15px;
        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__types {
        width: 100%;
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    &__type {
        width: 100%;
        margin-bottom: 30px;
        @include desktop {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.dish {
    background-color: $color-white;
    margin-bottom: 15px;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    opacity: 1;
    animation : menu-apparition $apparition-duration;
    @include shadow_grey;
    @include desktop {
        width: 90%;
        margin-bottom: 20px;
    }
    @include tablet {
        width: 70%;
    }
    &__infos {
        display: flex;
        padding : 0 3% 0 3%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        transition: width $timing-check;
        &__text {
            width: 80%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            &__title {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-weight: bold;
                margin-bottom: 4px;
                margin-top: 3px;
            }
            &__description {
                font-weight: 300;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        &__price {
            font-weight: bold;
            width: 20%;
            margin-left: 10%;
            text-align: right;
        }
    }
    
    &__checked {
        height:110%;
        width: 0%;
        border-radius: 0 10px 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color:$color-tertiary;
        background-color: $color-tertiary;
        overflow : hidden;
        transform: translate(100%);
        transition: transform $timing-check, width $timing-check;
        i { 
            border-radius: 100%;
            border: 0px;
            transform: rotate(0deg);
            transition: transform 1s;
            background-color: white;
        }
    }
    &:hover > &__checked {
        width: 20%;
        transform: translate(0); 
        i {
            transform: rotate(4turn);
        } 
    }
    &:hover >&__infos {
        width: 80%;
    }
    &:hover {
        cursor: pointer;
    }
}

.border {
    width: 40px;
    height: 2px;
    border: solid 2px $color-tertiary;
    margin: 6px 0 15px 0;
    @include desktop {
        width: 100px;
        margin-bottom: 40px;
    }
    @include tablet {
        width: 100px;
    }
}



