* {
    font-family: "Roboto", sans-serif;
}

.location {
    font-weight: 400;
}

h1 {
    font-family: "Shrikhand", sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    font-weight: 300;
}

footer a, footer h1 {
    color: $color-white;
}