$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-footer-bg : #535353;
$color-white : white;
$color-grey : rgb(246,246,246);

$duration-loader : 2000ms;      //Loading index
$delay-loader : 1000ms;


$nbrmax__dishes : 10;       
$apparition-duration : 1s;      //Loading menu
$anim-delay : 0.2s;


$timing-check : 0.5s;       //Duration check-box

$height-header : 85px;
$height-image : 250px;


