$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-footer-bg : #535353;
$color-white : white;
$color-grey : rgb(246,246,246);

$timing-check : 0.5s;
$apparition-duration : 1s;

$nbrmax__dishes : 10;
$anim-delay : 0.6s;